<div class="bg-white shadow-md rounded-lg overflow-hidden">
    <img 
    [src]="module?.imageSrc" 
    [alt]="module?.imageAlt" 
    class="w-full h-48 object-cover">
    <div class="p-4">
        <h2 class="text-xl font-semibold">{{module?.title}}</h2>
        <p class="mt-2 text-gray-700">{{module?.description}}</p>
        <div class="mt-4 gap-3 flex items-center">
            <app-button [routerLink]="'/' +module?.buylink" [type]="'Green'" [text]="'Get a License'"></app-button>
            <app-button [routerLink]="'/' + module?.demoLink" [type]="'Blue'" [text]="'Demo'"></app-button>  
            <app-button [routerLink]="'/' +module?.installationGuideLink" [type]="'Gray'" [text]="'Installation Guide'"></app-button>
        </div>
    </div>
</div>