<div class="mb-6">
    <button (click)="toggleExpand()" class="w-full text-left bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded shadow">
      {{ isExpanded ? 'Hide' : 'Show' }} {{ moduleName }} Installation Guide
    </button>
</div>  
<div *ngIf="isExpanded">
    <main class="container mx-auto py-10">
        <h2 class="text-3xl font-bold mb-6 text-center">Steps to Install an Xcelerate Joomla Module</h2>
        <ol class="list-decimal list-inside bg-white shadow-md rounded-lg p-6 space-y-4">
            <li class="bg-gray-100 p-4 rounded-md">
                If you haven't bought a license yet for the module, make sure to do it on 
                <a [href]="appRoutes.HOME" class="text-blue-500 hover:underline">main page</a>. 
                You'll need the license key to activate the module.
            </li>
            <li class="bg-gray-100 p-4 rounded-md">
                Download the module from 
                <a [href]="modulesDownloadsRepository" class="text-blue-500 hover:underline">this repository</a>. 
                (Make sure to take the last version)
            </li>
            <li class="bg-gray-100 p-4 rounded-md">
                Go to your Joomla admin panel, navigate to 
                <strong>System</strong> &gt; <strong>Install</strong> &gt; <strong>Extensions</strong>.
                <img src="img/joomla-admin-panel/system-install-extensions.png" alt="Joomla Admin Panel System" class="img-fluid mt-4 rounded-md shadow-md">
            </li>
            <li class="bg-gray-100 p-4 rounded-md">
                Drag and drop or browse to the zip module you downloaded to install it.
                <img src="img/joomla-admin-panel/install-extensions.png" alt="Joomla Admin Panel Extensions Installation" class="img-fluid mt-4 rounded-md shadow-md">
            </li>
            <li class="bg-gray-100 p-4 rounded-md">
                Navigate to <strong>Content</strong> &gt; <strong>Site Modules</strong>, search the module and click on it.
                <img src="img/joomla-admin-panel/search-module.png" alt="Joomla Admin Panel Modules" class="img-fluid mt-4 rounded-md shadow-md">
                <ul class="list-disc list-inside mt-4 space-y-4">
                    <li class="bg-gray-50 p-4 rounded-md">
                        On <strong>Module</strong> tab, make sure to have the <i>Position</i> and <i>Status</i> set to your preference.
                        <img src="img/joomla-admin-panel/module-settings.png" alt="Joomla Admin Panel Module Settings" class="img-fluid mt-2 rounded-md shadow-md">
                    </li>
                    <li class="bg-gray-50 p-4 rounded-md">
                        On <strong>Menu Assignment</strong> tab, make sure to select the menu items where you want the module to appear.
                        <img src="img/joomla-admin-panel/module-menu-assignment.png" alt="Joomla Admin Panel Module Menu Assignment" class="img-fluid mt-2 rounded-md shadow-md">
                    </li>
                    <li class="bg-gray-50 p-4 rounded-md">
                        On <strong>Module Configuration</strong> tab, fill in the required fields, save and close.
                        <span class="block mt-2 text-sm text-gray-600">The same license key can't be used on multiple domains. Make sure to use the correct one.</span>
                        <img src="img/joomla-admin-panel/module-configuration.png" alt="Joomla Admin Panel Module Configuration" class="img-fluid mt-2 rounded-md shadow-md">
                    </li>
                </ul>
            </li>
        </ol>
        <p class="mt-6 text-center">You should now see the module displayed on the concerning pages.</p>
        <div class="mt-8 flex  items-center justify-center gap-5">
            <app-button [routerLink]="'/' + appRoutes.HOME" [type]="'Gray'" [text]="'Back to Home'"></app-button>
            <app-button [routerLink]="'/' + appRoutes.MEMBER_DIRECTORY_MODULE_DEMO" [type]="'Blue'" [text]="'Demo'"></app-button>  
            <app-button [routerLink]="'/' + appRoutes.MEMBER_DIRECTORY_MODULE_LICENSE" [type]="'Green'" [text]="'Get a License'"></app-button>
        </div>
    </main>
</div>
