.card-text {
    height: 70px;
    overflow-y: auto;
}

.card-img-top {
    height: 200px;
}

.card-body {
    overflow-y: auto;
    padding: 10px;
}

.card {
    max-width: 500px;
    margin: auto;
}

.card .btn {
    margin-top: 5px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 0px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}