<div class="flex flex-col p-4 gap-3">
    <app-module-installation-guide 
        [moduleName]="moduleName"
        [moduleDemoRoute]="appRoutes.MEMBER_DIRECTORY_MODULE_DEMO"
        [moduleLicenseRoute]="appRoutes.MEMBER_DIRECTORY_MODULE_LICENSE">
        <app-collapsible-panel title="Set up the fields to display">
            <ol>
                <li>
                    Make sure to enable the native Joomla <strong>User - Profile</strong> plugin. This is required for the module to work properly.
                    <ul>
                        <li >
                            Navigate to <strong>System</strong> &gt; <strong>Plugins</strong>
                            <img src="img/joomla-admin-panel/system-plugins.png" alt="Joomla Admin Panel Plugins">
                        </li>
                        <li>
                            Search for the <strong>User - Profile</strong> plugin and click on it.
                            <img src="img/joomla-admin-panel/system-plugins-user_profile.png" alt="Joomla Admin Panel User Profile Plugin on Plugins List">
                        </li>
                        <li>
                            Make sure to have the <i>Status</i> set to <strong>Enabled</strong> and activate the fields you want to use.
                            <img src="img/joomla-admin-panel/user-profile.png" alt="User - Profile Plugin Settings" class="img-fluid mt-2 rounded-md shadow-md">
                        </li>
                        <li>
                            Click on <strong>Save & Close</strong> button to save your changes.
                        </li>
                    </ul>
                </li>        
                <li>
                    Navigate to <strong>Content</strong> &gt; <strong>Site Modules</strong>, search the module and click on it.
                    <img src="img/joomla-admin-panel/search-module.png" alt="Joomla Admin Panel Modules" class="img-fluid mt-4 rounded-md shadow-md">
                </li>
                <li>
                    On <strong>Fields Configuration</strong> tab, you can add, edit, remove, or rearrange the fields as you like. Only the fields defined in Joomla's native 'User - Profile' plugin are supported.
                    <img src="img/joomla-admin-panel/module-fields.png" alt="Joomla Admin Panel Module Fields" class="img-fluid mt-2 rounded-md shadow-md">
                    <p class="mt-2"> 
                        This module supports only fields declared in the native Joomla <strong>User - Profile</strong> plugin. 
                        <br>
                        If you want to add others custom fields, you can do it by storing the values into <strong>#__user_profiles</strong> table of your database.
                    </p>
                    <p>
                        For more icons, please visit 
                        <a [href]="fontAwesomeUrl" class="anchor">Font awesome</a>
                    </p>
                </li>    
                <li>
                    Click on <strong>Save & Close</strong> button to save your changes.
                </li>    
            </ol>
            <p class="mt-6 text-center">You should now see the module displayed on the concerning pages.</p>
        </app-collapsible-panel>
    </app-module-installation-guide>
</div>


