

<main class="container mx-auto py-8">
    <p class="text-gray-600">Below is a live example of the module in action.</p>
    <div class="flex w-full justify-center py-5">
        <img src="img/member-directory-module/demo.gif" alt="Member Directory Module Demo" class="w-full md:w-3/4 lg:w-1/2">
    </div>
    
    <h2 class="text-2xl font-bold mt-8">Module Description</h2>
    <p class="mt-4">This module is designed to display a clear and modern directory of registered members on your website. It’s perfect for communities, associations, or any site that requires a professional presentation of its members.</p>
    
    <h3 class="text-xl font-semibold mt-6">Key Features:</h3>
    <ul class="list-disc list-inside mt-4">
        <li><strong>Real-time Search:</strong> Quickly find members by searching names or email addresses using an intuitive search bar.</li>
        <li><strong>Clean and Responsive Layout:</strong> A modern design optimized for all devices, ensuring the best user experience.</li>
        <li><strong>Comprehensive Member Details:</strong> Each member is displayed with their name, email, phone number, address, and region.</li>
        <li><strong>Integrated Statistics:</strong> Display the total number of users for an instant overview.</li>
    </ul>

    <div class="mt-8 flex flex-col-reverse sm:flex-row items-center justify-center gap-5">
        <app-button [routerLink]="'/' + appRoutes.HOME" [type]="'Gray'" [text]="'Back to Home'"></app-button>
        <app-button [routerLink]="'/' + appRoutes.MODULE_INSTALLATION_GUIDE" [type]="'Blue'" [text]="'Installation Guide'"></app-button>  
        <app-button [routerLink]="'/' + appRoutes.MEMBER_DIRECTORY_MODULE_LICENSE" [type]="'Green'" [text]="'Get a License'"></app-button>
    </div>
</main>


