<div class="flex flex-col sm:flex-row items-center justify-center p-3 sm:p-5 gap-5">
  <stripe-buy-button name="Member Directory Module - 1 Year License"
    buy-button-id="buy_btn_1QZ8qlBgicyppdMnkYmIwoaG"
    publishable-key="pk_live_51QXhv3BgicyppdMnxCdkl3j8Sz64VJ7W3ttETo2kxU6QAxgGwK2uVYEVLLYoQ2oI47Uku0spvHH4r7ghMPleu1FG00t9WJA4uk">
  </stripe-buy-button>
  <stripe-buy-button name="Member Directory Module - 1 Week Free Trial License"
    buy-button-id="buy_btn_1Qb5Z8BgicyppdMnyhJac7bV"
    publishable-key="pk_live_51QXhv3BgicyppdMnxCdkl3j8Sz64VJ7W3ttETo2kxU6QAxgGwK2uVYEVLLYoQ2oI47Uku0spvHH4r7ghMPleu1FG00t9WJA4uk">
  </stripe-buy-button>
</div>